<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>kz.iitu.javaee.cookies_in_servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>kz.iitu.javaee.cookies_in_servlet.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

<!--  Cookie Login & Logout   -->
    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>kz.iitu.javaee.cookies_login_and_logout.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ProfileServlet</display-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>kz.iitu.javaee.cookies_login_and_logout.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>kz.iitu.javaee.cookies_login_and_logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>


<!--  Hidden from field example  -->
    <servlet>
        <servlet-name>s11</servlet-name>
        <servlet-class>kz.iitu.javaee.hidden_form_field.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s11</servlet-name>
        <url-pattern>/servlet11</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s22</servlet-name>
        <servlet-class>kz.iitu.javaee.hidden_form_field.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s22</servlet-name>
        <url-pattern>/servlet22</url-pattern>
    </servlet-mapping>


<!--  Url rewriting example  -->
    <servlet>
        <servlet-name>s111</servlet-name>
        <servlet-class>kz.iitu.javaee.url_rewriting.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s111</servlet-name>
        <url-pattern>/servlet111</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s222</servlet-name>
        <servlet-class>kz.iitu.javaee.url_rewriting.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s222</servlet-name>
        <url-pattern>/servlet222</url-pattern>
    </servlet-mapping>


<!--  Http session example  -->
    <servlet>
        <servlet-name>s1111</servlet-name>
        <servlet-class>kz.iitu.javaee.http_session.FirstServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s1111</servlet-name>
        <url-pattern>/servlet1111</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2222</servlet-name>
        <servlet-class>kz.iitu.javaee.http_session.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>s2222</servlet-name>
        <url-pattern>/servlet2222</url-pattern>
    </servlet-mapping>

<!--  Session Login and Logout Example  -->
    <servlet>
        <description></description>
        <display-name>LoginServlet1</display-name>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>kz.iitu.javaee.session_login_and_logout.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ProfileServlet1</display-name>
        <servlet-name>ProfileServlet1</servlet-name>
        <servlet-class>kz.iitu.javaee.session_login_and_logout.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet1</servlet-name>
        <url-pattern>/ProfileServlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>LogoutServlet1</display-name>
        <servlet-name>LogoutServlet1</servlet-name>
        <servlet-class>kz.iitu.javaee.session_login_and_logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet1</servlet-name>
        <url-pattern>/LogoutServlet1</url-pattern>
    </servlet-mapping>
</web-app>
